<!DOCTYPE html>
<html>
  <head>
    <title><%= fav %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= connect %></p>
        <form action="" method="post" id="inscription">
          First name:<br>
          <input type="text" name="pseudo" placeholder="Name">
          <br>
          Password:<br>
          <input type="text" name="mdp" placeholder="Mdp">
          <br><br>
          <input type="submit" value="Submit">
        </form>
  </body>
</html>
